---

- name: Deploy Prometheus agent
  hosts: {! prometheus_destination !}
  become: true
  become_methos: sudo
  tasks:
    - name: Prepare configuration directory for Prometheus agent
      file:
        path: "{{ item }}"
        state: directory
        owner: nobody
        group: nobody
        mode: '0750'
      with_items:
        - {! workdir !}/{! prometheus_container_name !}
        - {! workdir !}/{! prometheus_container_name !}/config
    - name: [DEMO] Prepare directory structure for volume mounts
      file:
        path: "{{ item }}"
        state: directory
        owner: nobody
        group: nobody
        mode: '0750'
      with_items:
        - {! workdir !}/{! prometheus_container_name !}/config/data/
        - {! workdir !}/{! prometheus_container_name !}/config/etc/
        - {! workdir !}/{! prometheus_container_name !}/config/etc/prometheus
    - name: [DEMO] Provide Prometheus configuration
      copy:
        owner: root
        group: root
        mode: '0750'
        dest: {! workdir !}/{! prometheus_container_name !}/config/etc/prometheus/prometheus.yml
        content: |
          global:
            scrape_interval: 5s
            external_labels:
              cluster: demo
              replica: 0

          scrape_configs:
            - job_name: 'prometheus-agent'
              static_configs:
                - targets: ['127.0.0.1:9090']

          remote_write:
            - url: '{! prometheus_remote_write[0] !}'
    - name: Spawn containerized Prometheus agent
      include_role:
        name: /usr/share/ansible/roles/spawn_container
        tasks_from: main
      vars:
        user: root
        workdir: {! workdir !}
        confdir: {! workdir !}/{! prometheus_container_name !}
        name: {! prometheus_container_name !}
        image: {! prometheus_image !}
        volumes:
          - {! workdir !}/{! prometheus_container_name !}/config/data:/data:rw,z
          - {! workdir !}/{! prometheus_container_name !}/config/etc/prometheus:/etc/prometheus:ro,z
        command: >
          --enable-feature=agent
          --config.file=/etc/prometheus/prometheus.yml
          --storage.agent.path=/data
          --web.listen-address=:9666
