global:
  scrape_interval: {{ prometheus_scrape_interval }}
  external_labels:
    agent_host: {{ ansible_fqdn }}
    {% if openstack_cloud_name -%}
    cloud_name: {{ openstack_cloud_name }}
    {% endif %}

scrape_configs:
  {% for service, nodes in scrape_endpoints.items() -%}
  - job_name: {{ service }}
    static_configs:
      - targets: {{ nodes }}
  {% endfor %}

remote_write:
  {% for name, endpoint in remote_write.items() -%}
  - url: {{ endpoint.url }}
    {% if endpoint.basic_user.length() > 0 and endpoint.basic_pass.length() > 0 -%}
    basic_auth:
      username: {{ endpoint.basic_user }}
      password: {{ endpoint.basic_pass }}
    {% endif -%}
    {% if endpoint.url | regex_search('^https://') -%}
    tls_config:
      insecure_skip_verify: {{ endpoint.tls_insecure_skip_verify | default('false') }}
      server_name: {{ endpoint.url | regex_search('^https://(.*?)/', '\\1') | first }}
      {% if endpoint.ca_cert is defined -%}
      ca_file: /etc/prometheus/{{ name }}_CA.pem
      {% endif -%}
    {% endif -%}
  {% endfor %}
