---
plugindir: bin/
loglevel: debug
transports:
  - name: udp-socket
    config:
      uri:{{ hostvars[inventory_hostname].ansible_host }}:{{ ceilometer_port }}
    handlers:
      - name: ceilometer-metrics
applications:
  - name: prometheus
    config:
        host: {{ hostvars[inventory_hostname].ansible_host }}
        port: {{ prometheus_port }}
