LoadPlugin ceph

<Plugin ceph>
{% if collectd_plugin_ceph_longrunlatency is defined %}
  LongRunAvgLatency {{ collectd_plugin_ceph_longrunlatency }}
{% endif %}
{% if collectd_plugin_ceph_convertspecialmetrictypes is defined %}
  ConvertSpecialMetricTypes {{ collectd_plugin_ceph_convertspecialmetrictypes }}
{% endif %}
{% for daemon in collectd_plugin_ceph_daemon %}
  <Daemon "{{ daemon.name|e }}">
    SocketPath "{{ daemon.socketpath|e }} "
  </Daemon>
{% endfor %}
</Plugin>
