# Hostname localhost
FQDNLookup true

AutoLoadPlugin false
TypesDB "/usr/share/collectd/types.db"
Interval "{{ collectd_interval }}"
Timeout 2
ReadThreads 5
WriteThreads 5

{% if "logfile" in collectd_plugins %}
LoadPlugin "logfile"
{% endif %}

<Include "{{ collectd_conf_output_dir}}" >
  Filter "*.conf"
</Include>
