LoadPlugin cpu

<Plugin cpu>
  ReportByState {{ cpu.reportbystate }}
  ReportByCpu {{ cpu.reportbystate }}
  ValuesPercentage {{ cpu.valuespercentage }}
  ReportNumCpu {{ cpu.reportnumcpu }}
  ReportGuestState true
  SubtractGuestState true
</Plugin>
