LoadPlugin processes

<Plugin processes>
#	CollectFileDescriptor true
#	CollectContextSwitch true
#	CollectMemoryMaps true
#	Process "name"
#	ProcessMatch "name" "regex"
#	<Process "collectd">
#		CollectFileDescriptor false
#		CollectContextSwitch false
#	</Process>
#	<ProcessMatch "name" "regex">
#		CollectFileDescriptor false
#		CollectContextSwitch true
#	</Process>
</Plugin>
