# Ansible managed
LoadPlugin unixsock

<Plugin "unixsock">
  SocketFile "{{ collectd_plugin_unixsock_socketfile }}"
{% if collectd_plugin_unixsock_socketgroup is defined %}
  SocketGroup "{{ collectd_plugin_unixsock_socketgroup }}"
{% endif %}
{% if collectd_plugin_unixsock_socketperms is defined %}
  SocketPerms "{{ collectd_plugin_unixsock_socketperms }}"
{% endif %}
{% if collectd_plugin_unixsock_deletesocket is defined %}
  DeleteSocket {{ collectd_plugin_unixsock_deletesocket| string | lower }}
{% endif %}
</Plugin>
