# Ansible managed
LoadPlugin virt

<Plugin "virt">
  Connection "{{ collectd_plugin_virt_connection }}"
{% if collectd_plugin_virt_refreshinterval is defined %}
  RefreshInterval {{ collectd_plugin_virt_refreshinterval| string | lower }}
{% endif %}
{% if collectd_plugin_virt_hostnameformat is defined %}
  HostnameFormat "{{ collectd_plugin_virt_hostnameformat }}"
{% endif %}
{% if collectd_plugin_virt_plugininstanceformat is defined %}
  PluginInstanceFormat "{{ collectd_plugin_virt_plugininstanceformat }}"
{% endif %}
{% if collectd_plugin_virt_extrastats is defined %}
  ExtraStats "{{ collectd_plugin_virt_extrastats }}"
{% endif %}
</Plugin>
